
    body {
      background: linear-gradient(145deg, #2c2f3f, #3e4255);
      font-family: 'Inter', sans-serif;
    }

    .card {
      border-radius: 20px;
      overflow: hidden;
      box-shadow: 0 0 30px rgba(0, 0, 0, 0.4);
      background-color: #1e1f2f;
      min-width: 100%;
    }

    .form-control,
    .form-check-label,
    .form-check-input {
      background-color: #2c2d3f !important;
      color: #fff !important;
      border: none;
    }

    .form-control:focus {
      box-shadow: 0 0 0 0.2rem rgba(138, 123, 255, 0.25);
    }

    .btn-purple {
      background-color: #7c5eff;
      color: #fff;
    }

    .btn-purple:hover {
      background-color: #6a4de0;
    }

  

    .form-section {
      padding: 40px;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    .form-section h2 {
      margin-bottom: 20px;
    }

    .form-section .form-control {
      margin-bottom: 20px;
    }

    .form-section .form-check {
      margin-bottom: 20px;
    }

    

    .social-btn {
      border: 1px solid #444;
      background: transparent;
      color: #fff;
    }
   
    ::placeholder {
      color: #bbb !important;
      opacity: 1;
    }

    .social-btn:hover {
      background-color: #333;
    }

    .small-link {
      color: #aaaaff;
      font-size: 0.9rem;
    }

    .forgot {
      font-size: 0.85rem;
      color: #aaaaff;
    }

